
<% for(var i=0;i<users.data.length;i++ ) {%>



    <tr>
        <td><%= users.data[i]._id %></td>
        <td><%= users.data[i].name %></td>
        <td><%= users.data[i].email %>l</td>
        <td><%= users.data[i].gender %></td>
        <td><%= users.data[i].status %></td>
        <td>
            <a href='/api/user?id=<%= users.data[i]._id %>' class="btn border-s">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a  class="btn border-s delete" data-id=<%= users.data[i]._id%>>
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>



    <% } %>

